body {
        width: 100%;
        margin: 0 auto;
        background-color: #cc99ff;
        font-size: 70%
}

header,
footer { 
        background-color: #a64dff;
        font-size: 1.5em;
}

main {
        background-color: #b366ff;
        font-size: 1.75em;
        text-align: center;
}

h1 {    
        text-align: center;
        color: white;
        text-shadow: 3px 2px #330033;
        font-size: 3.0em;
        padding: 50px 50px 50px 50px
}

h2 {    text-align: center;
        color: white;
        text-shadow: 3px 2px #330033; 
        font-size: 2.0em;
        padding: 50px 50px 50px 50px

}

h3 {
        color: white;
        text-shadow: 3px 2px #330033; 
}

h5 {
        color: #330033;
}

article {
        text-align: center;
        padding: 25px 100px 25px 100px;
        background-color: #a64dff;
}

img {
        align-items: center;
}

a {
        color: blue;
}

p {
        margin: 50px 100px 50px 100px;
}

p.Bang {
        font-size: 2.4em;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

#lastline {
       text-decoration: underline;
}